@page
@model CategoryList.IndexModel
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Pages/CategoryList/_Layout.cshtml";
}
<div class="container row p-0 m-0">
    <div class="col-6">
        <h2 class="text-info">
            Book List
        </h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">
            Create New Book
        </a>
    </div>
    <div class="col-3">
        <a asp-page="Upsert" class="btn btn-info form-control text-white">
            Add(Upsert) New Book
        </a>
    </div>
    <div class="col-sm-12 col-md-6">
        <div id="demoGrid_filter" class="dataTables_filter">
            <label>
                Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="demoGrid">
            </label>
        </div>
    </div>
    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Categories.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Categories.FirstOrDefault().CategoryName">Kategori Adı</label>
                        </th>
                        <th>
                            <label asp-for="Categories.FirstOrDefault().CategoryDescription">Kategori Tanımı</label>
                        </th>
                        <th>
                            <label>Actions</label>
                        </th>
                    </tr>
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => item.CategoryDescription)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.CategoryId" onclick="return confirm('Are you sure you want to Delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.CategoryId" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>
                    No Books Available
                </p>
            }
        </form>
    </div>

    @*<div class="col-12" style="text-align: center">
            <br />
            <span class="text-info">OR</span>
        </div>
        <div class="col-12 border p-3">
            <table id="DT_load" class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>*@
</div>

@section Scripts{
    <script src="~/js/categoryList.js"></script>
}